#menu ul {
	padding:0px;
	margin:0px;
	list-style:none;
    text-align: center;
     background-color: rgb(227, 240, 227);
}

#menu ul li { display: inline;}

#menu ul li a {
	padding: 10px 32px;
	display: inline-block;
 
	/* visual do link */
	background-color:rgb(227, 240, 227);
	color: #333;
	text-decoration: none;
	font-weight: bold;
}

#menu ul li a:hover {
	background-color:black;
	color: #00FFBF;
	font-weight: bold;
}

header#pagina
{
    height: 200px;
    text-align: center;
    background: url("Imagens/FundoHeader.jpg");
    color: red;
    font-family: cursive;
    font-size: 100;
}

body
{
    background-color: aliceblue;
}

/*#imagemPorco
{
	position: absolute;
	background: url("Imagens/Porquinho.png") no-repeat;
	width: 250px;
	height: 250px;
	left: 50px;
	top: 240px;
}*/

canvas#meuCanvas
{
	position: absolute;
	top: 340px;
	left: 50px;
}

#textoHome
{
	position: absolute;
	top: 270px;
	left: 380px;
	font-family: Engravers MT;
	font-size: 25;
	color: rgb(7, 75, 7);
}

#cortandoGastos
{
	position: absolute;
	top: 340px;
	left: 480px;
	width: 590px; /*820*/
	height: 350px;
	background: url("Imagens/CortandoGastosTesoura.jpg") no-repeat;
}

button#botao 
{
	background-color: blue;
}

#cadastrar
{
	position: absolute;
	background-color: rgb(14, 105, 60);
	color: white;
	border-color: rgb(161, 240, 240);
	left: 550px;
	top: 700px;
	width: 120px;
	height: 30px;
}

#login
{
	position: absolute;
	background-color: rgb(14, 105, 60);
	color: white;
	border-color: rgb(161, 240, 240);
	left: 850px;
	top: 700px;
	width: 120px;
	height: 30px;
}